* {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

table {
  min-width: 650px;
}
tbody {
  min-height: 400px;
}

td,
th {
  vertical-align: middle;
}
td:last-child {
  white-space: nowrap;
}
